// Bootstrap Override Color
$theme-colors: (
    "dark"      : #2f2f2f,
    "white"     : #fff,
    "dust"      : #FAF5F4,
    "creme"     : #E9EAE5,
    "shoalBlue" : #4EE5E2,
    "cobalt"    : #4490F5,
    "spark"     : #FF2C53
);
$dark      : #2f2f2f;
$white     : #fff;
$dust      : #FAF5F4;
$creme     : #E9EAE5;
$shoalBlue : #4EE5E2;
$cobalt    : #4490F5;
$spark     : #FF2C53;